.pagination {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 188px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pageNumber {
  border-radius: 24px;
  background: transparent;
  border: 1px solid #fcb654;
  display: inline-flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: rgba(37, 37, 37, 0.8);
  font-family: 'DM Mono';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;

  transition: transform 0.5s ease;
  transform: scale(1);
}

.pageNumber:hover {
  color: #fff;
  background: #fcb654;
  border: 1px solid #fcb654;
  transition: transform 0.5s ease;
  transform: scale(1.2);
}

.activePage {
  color: #fff;
  background: #fcb654;
  border: 1px solid #fcb654;
}
