.cardItem {
  width: 412px;
  height: 497px;
  border-radius: 24px;
  border: 1px solid #fcb654;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.cardImage {
  object-fit: cover;
  width: 372px;
  height: 377px;
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
}

.cardPicture {
  position: absolute;
  object-fit: cover;
  width: 412px;
  height: 497px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: scale(1);
}

.cardPicture:hover {
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
  transform: scale(1.05);
}

.cardImage:hover {
  opacity: 0;
  /* transition: opacity 0.1s ease, transform 0.1s ease; */
}

.titleItem {
  color: #252525;
  font-family: 'DM Mono';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.44px;

  display: flex;
  justify-content: space-between;
}

.priceItem {
  color: #252525;
  font-family: 'DM Mono';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.44px;
  opacity: 0.8;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
