.wrapper {
  position: relative;
  /* height: 596px; */
  overflow: hidden;
  margin-top: 120px;
}

.new_collection_text {
  color: #fcb654;
  font-family: 'DM Mono';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.new_collection_goods_text {
  max-width: 552px;
  color: #252525;
  font-family: 'DM Mono';
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -2.16px;
}

.list {
  display: flex;
  gap: 30px;
  width: auto;
  height: auto;
  transition: all 0.3s linear;
}

.arrows {
  width: 116px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 22px;
  right: 0;
}

.prev,
.next {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid #fcb654;
  background: transparent;
  font-size: 40px;
  color: #fcb654;
  cursor: pointer;
}

.right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 2px;
}

.left_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -1px;
  transform: rotate(180deg);
}

.itemsList {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  transition: all 0.2s linear;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.itemsList::-webkit-scrollbar {
  display: none;
}
.itemsList li {
  scroll-snap-align: start;
}

.skeleton {
  margin-top: 30px;
  margin-bottom: 129px;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .wrapper {
    /* height: 339px; */
    margin-top: 60px;
  }
  .new_collection_text {
    font-family: DM Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    letter-spacing: 0.06em;
    text-align: left;
  }
  .new_collection_goods_text {
    font-family: DM Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.64px;
    letter-spacing: -0.06em;
    text-align: left;
  }
  .itemsList {
    gap: 20px;
  }
  .arrows {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    /* height: 392px; */
    margin: 60px 0;
  }

  .new_collection_text {
    font-family: DM Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
  }
  .new_collection_goods_text {
    font-family: DM Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -0.06em;
    text-align: left;
  }

  .itemsList {
    gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    padding-bottom: 58px;
  }

  .arrows {
    top: auto;
    bottom: 0;
    right: 0;
  }
}
