.wrapper {
    position: relative;
    height: 596px;
    overflow: hidden;
    margin-top: 120px;
}
.new_collection_text{
    color: #FCB654;
    font-family: "DM Mono";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}
.new_collection_goods_text{
    max-width: 552px;
    color: #252525;
    font-family: "DM Mono";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -2.16px;
}
.list {
    
    display: flex;
    gap: 30px;
    width: auto;
    height: auto;
    transition: all .3s linear;
}

.arrows {
    width: 116px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 22px;
    right: 0;
}

.prev,
.next {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #FCB654;
    background: transparent;
    font-size: 40px;
    color: #FCB654;
    cursor: pointer;
    
}
.right_arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 2px;
}
.left_arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -1px;
    transform: rotate(180deg);
}
.itemsList{
  margin-top: 30px;
  display: flex;
    gap: 30px;
    transition: all .3s linear;
    width: max-content;
    position: relative;
}
  
.skeleton {
    margin-top: 30px;
    margin-bottom: 129px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
