.stars {
    display: flex;
    gap: 4px;
}

.stars svg {
    width: 24px;
    height: 24px;
}

.starActive svg {
    fill: #FCB654;
    display: flex;
    align-items: center;
}

.starNoActive svg {
    fill: #FCB654;
    opacity: .4;
    display: flex;
    align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .stars svg {
width: 18px;
height: 18px;
    }
}
