.MyWishlist {
    display: flex;
    gap: 20px;
}

.wish {
    max-width: 854px;
    width: 100%;
    padding: 60px 0 120px;
}

.title {
    font-family: DM Mono;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    letter-spacing: -0.06em;
    margin-bottom: 30px;
}

@media(max-width: 835px) {
    .title {
        margin-bottom: 20px;
    }
}