.wrapper {
    display: flex;
    justify-content: space-between;
    height: 32px;
    width: 96px;
    border-radius: 24px;
    border: 1px solid #fcb654;
    overflow: hidden;
}

.btn {
    display: block;
    width: 32px;
    height: 100%;
    background: #fcb654;
    border: none;
    font-family: DM Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -6%;
    color: #fff;
}

.amountText {
    width: 32px;
    height: 32px;
    font-family: DM Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .wrapper {
        width: 88px;
        height: 29px;
    }
    .btn {
        width: 29px;
    }
    .amountText{
        font-size: 14px;
    }
    .wrapper .amountText{
        align-self: center;
    }
}