.wrapper {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.item {
    border-bottom: 2px solid transparent;
    transition: all .1s linear;
}

.item:hover {
    border-bottom: 2px solid #FCB654;
}

@media(max-width: 1260px) {
    .wrapper {
        display: none;
    }
}