.user_icon_button{
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
}
.container {
    position: relative;
    display: flex;
    align-items: center;
}
.container svg:not(:first-child) {
    transition: none;
    border-bottom: none;
}

.container svg:not(:first-child):hover {
    border-bottom: none;
}

@media(max-width: 425px) {
    .container {
        display: none;
    }
}