.scroll {
    width: 634px;
    height: 5px;
    background: rgba(252, 182, 84, .3);
    margin: 20px auto;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 120px;
}

.scrollnav {
    height: 5px;
    background: #FCB654;
    transition: all .3s linear;
    border-radius: 50px;
}
@media screen and (max-width:1157px){
    .scroll{
        width: 360px;
        margin-bottom: 60px;
    }
}
@media screen and (max-width:767px) {
    .scroll {
        display: none;
    }
}