.cardItem {
  width: 412px;
  height: 497px;
  border-radius: 24px;
  border: 1px solid #fcb654;
  position: relative;
  overflow: hidden;
}

.itemWrapper {
  margin: 20px;
}

.cardImage {
  object-fit: cover;
  width: 372px;
  height: 377px;
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
  cursor: pointer;
}

.cardPicture {
  position: absolute;
  object-fit: cover;
  width: 372px;
  height: 377px;
  top: 20px;
  left: 20px;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(1);
}

.cardPicture:hover {
  top: 0;
  left: 0;
  opacity: 1;
  width: 412px;
  height: 497px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: scale(1.05);
  cursor: pointer;
}

.cardPicture:hover .itemWrapper {
  display: none;
}

/* .cardImage:hover {
  opacity: 0;
  
  cursor: pointer;
} */

.titleItem {
  color: #252525;
  font-family: 'DM Mono';
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.44px;
}

.priceItem {
  color: #252525;
  font-family: 'DM Mono';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.44px;
  opacity: 0.8;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons:hover {
  fill: #fcb654;
  cursor: pointer;
}
