.orderContainer{
    border-radius: 24px;
    border: 1px solid #FCB654;
    padding: 20px;
    margin-bottom: 20px;
}
.orderitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_data{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.order_number_and_date{
    font-family: DM Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #252525;
    opacity: 0.8;
}
.order_status_done{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.8;
    color: #FCB654;
}
.order_status_canceled{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left; 
    opacity: 0.8;
    color: #252525;  
}
.order_amount_text{
    font-family: DM Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
    opacity: 0.8;
    color: #252525;
}
.order_amount_number{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.8;
    color: #252525;
}
.show_more_button{
    background: transparent;
    border: none;
    transform: rotate(90deg);
}
.show_more_button svg{
    width: 22px;
    height: 14px;

}
.line{
    width: 100%;
    background-color: #FCB654;
    height: 1px;
    margin: 20px 0 ;
}
.more_details_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.more_order_details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details_text{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.8;
    max-width: 171px;
    width: 100%;

}
.product_details{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 22px;
}
.product_photo{
    width: 50px;
    height: 50px;
    border: 1px solid #FCB654;
    border-radius: 50%;
}
.product_text{
    font-family: DM Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.06em;
    text-align: left;
    opacity: 0.8;
    color: #252525;

}
.product_detail{
    font-family: DM Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.06em;
    text-align: left;
    color: #252525;
    max-width: 192px;
    width: 100%;

}
.product_div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product_name_div{
    display: flex;
    flex-direction: column;
    width: 192px;
    gap: 4px;
}
.product_quantity{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #252525;
}
.payment_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
}
.payment_details_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.payment_details_data{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #252525;

}
.payment_details{
    font-family: DM Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.06em;
    text-align: left;
    opacity: 0.8;
    color: #252525;

}
.feedback_button{
    font-family: DM Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.06em;
    text-align: left;
    color: #FCB654;
    text-decoration: underline;
    background: transparent;
    border: none;
    margin-top: 18px;

}