.field {
    font-family: Poppins;
    max-width: 633px;
    width: 100%;
    margin-bottom: 20px;
}

.field label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #252525;
    display: block;
    margin-bottom: 8px;
}

.field input {
    width: 100%;
    padding: 23px 30px;
    border-radius: 24px;
    border:  1px solid #252525;
    outline: none;
}

.title {
    font-family: DM Mono;
    font-size: 24px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -6%;
    margin: 40px 0 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.method {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.radio {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 2px solid #FCB654;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.radio span {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    transition: all .2s linear;
}

.metod__img {
    width: 190px;
    height: 150px;
    border: 1px solid #FCB65466;
    border-radius: 24px;
    background: #D9D9D9;
}

.metod__info h5 {
    font-family: DM Mono;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.metod__info span {
    font-family: DM Mono;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #FCB654;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 120px;
}

.btns button {
    width: 412px;
}

.btns button:first-child {
    color: #252525;
    background: #fff;
}