.logIn_text{
    font-family: DM Mono;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #FCB654;
    margin-bottom: 20px;
}
.hide_password {
    position: relative;
}
.hide_password_button {
    position: absolute;
    right: 10px;
    top: 48px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
}
.hide_password_button svg {
    width: 18px;
    height: 18px;
    transition: none;
    border-bottom: none;
}
.hide_password_button svg:hover{
    border-bottom: none;
}
.modal_checkbox_container {
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-direction: row;
    align-items: center;
}
.modal_checkbox {
    margin-right: 4px;
    background-color: transparent;
    border: 1px solid #FCB654;
    cursor: pointer;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal_checkbox.checked {
    background-color: #FCB654;
    border-color: #FCB654;
    color: #FFF;
}
.svg_div {
    position: absolute;
    top: -7px;
    left: -3.5px;
}
.remember_me{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.container{
    
}