.primary_button {
    padding: 10px 32px;
    background: #FCB654;
    border-radius: 24px;
    border: none;
    transition: opacity 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .primary_button:hover {
    opacity: 0.85; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  .outlined_button{
    padding: 10px 32px;
    border-radius: 24px;
    border: 1px solid #FCB654;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #FCB654;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline #FCB654;
    background-color: transparent;
  }
  