.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardList {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;    
    gap: 30px;
}

.showMore {
margin-top: 30px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
padding: 10px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 24px;
background: #FCB654;
border: 1px solid #FCB654;

color: #FFF;

font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pageNumber {
    border-radius: 24px;
background: #FCB654;
border: 1px solid #FCB654;
display: inline-flex;
padding: 10px 15px;
justify-content: center;
align-items: center;
gap: 10px;

color: #FFF;
font-family: "DM Mono";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.84px;
}

.pagination {
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
width: 188px;
justify-content: center;
align-items: center;
gap: 12px;
}

.activePage {
    background: #77511cd0;
    border: 1px solid #77511cd0;
}