.product {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  height: 174px;
}
.product_info {
  display: flex;
  gap: 30px;
  width: 90%;
}
.span {
  display: flex;
  width: 100%;
  gap: 30px;
}
.li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product_info_text {
  font-family: DM Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: -0.06em;
  text-align: left;
  color: #caccce;
}
.li .product_info_text {
  align-self: center;
}
.title,
.price,
.amount,
.allPrice {
  height: 150px;
  border-radius: 24px;
  border: 1px solid #fcb654;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title {
  max-width: 302px;
  width: 100%;
}
.li_product {
  max-width: 302px;
  width: 100%;
}
.li {
  max-width: 191px;
  width: 100%;
}
.allPrice,
.price,
.amount,
.img {
  max-width: 191px;
  width: 100%;
}

.img {
  height: 150px;
  border-radius: 24px;
  border: 1px solid #fcb654;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 40px;
}

.img img {
  width: 191px;
  height: 150px;
  object-fit: cover;
}

.title {
  height: 150px;
  border-radius: 24px;
  border: 1px solid #fcb654;
  display: flex;
  align-items: center;
  font-family: DM Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -6%;
  padding-left: 20px;
}

.price {
  font-family: DM Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -6%;
  position: relative;
}

.allPrice {
  font-family: DM Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -6%;
}

.minus {
  height: 150px;
  padding: 0 40px;
  border-radius: 24px;
  border: 1px solid #fcb654;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #fcb654;
  margin-top: 40px;
  position: relative;
}

.minus::before {
  content: '';
  width: 14px;
  height: 3px;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .product {
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
  }
  .product_info {
    gap: 5px;
  }
  .span {
    gap: 10px;
    width: 330px;
    margin-right: -20px;
  }
  .li {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .product_info_text {
    font-family: DM Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: -0.06em;
    text-align: left;
  }
  .li .product_info_text {
    align-self: center;
  }
  .title,
  .price,
  .amount,
  .allPrice,
  .img,
  .minus {
    margin-top: 17px;
    height: 80px;
  }
  .img img,
  .img {
    height: 80px;
    width: 80px;
  }
  .li_product {
    max-width: 200px;
    width: 100%;
  }
  .li {
    max-width: 95px;
    width: 100%;
  }
  .price,
  .amount,
  .allPrice {
    width: 95px;
  }
  .title {
    width: 200px;
  }
  .title,
  .price,
  .allPrice {
    font-family: DM Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: -0.06em;
    text-align: left;
  }
  .minus {
    width: 40px;
    padding: 0 30px;
  }
  .title::before,
  .price::before,
  .amount::before,
  .allPrice::before {
    font-family: DM Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: -0.06em;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .product {
    height: 192px;
    max-width: 330px;
    width: 100%;
    border: 1px solid #fcb654;
    border-radius: 21px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 14px;
    gap: 20px;
    position: relative;
  }
  .product_info_text {
    display: none;
  }
  .span {
    gap: 0px;
  }
  .img,
  .img img {
    width: 100px;
    height: 104px;
    margin-top: 0;
  }
  .price {
    display: none;
  }
  .li_product {
    width: 170px;
    height: 104px;
  }
  .title {
    font-family: DM Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.04px;
    letter-spacing: -0.06em;
    text-align: left;
    border: none;
    width: 170px;
    height: 104px;
    padding-left: 0;
  }
  .li {
    width: fit-content;
    height: fit-content;
  }
  .allPrice,
  .amount {
    height: fit-content;
    border: none;
  }
  .li:last-child {
    margin-left: auto;
  }
  .minus {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    padding: 0;
    margin-top: 0;
  }
}
