.sections {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.sections__item {
    color: #caccce;
    font-family: DM Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -6%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.notFound img {
    margin: 30px auto;
    width: 480px;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.btns button {
    width: 412px;
}

.btns button:first-child {
    color: #252525;
    background: #fff;
}