.special_offer_paragraph{
    color: #FCB654;
    font-family: "DM Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}
.special_offer_conatiner{
    margin-bottom: 120px;
}
.special_offer_text{
    max-width: 552px;
    color: #252525;
    font-family: "DM Mono";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.16px;
}
.special_offer_text_conatiner{
    margin-bottom: 60px;
}
.special_offer_image{
    max-width: 633px;
    height: auto;
    flex-shrink: 0;
    border-radius: 24px;
}
.special_offer_list{
    display: flex;
    flex-direction: row;
    gap: 111px;
    list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1157px){
    .special_offer_conatiner{
        margin-bottom: 60px;
    }
    .special_offer_text_conatiner{
        margin-bottom: 40px;
    }
    .special_offer_text{
        font-size: 22px;
    }
    .special_offer_image{
        width: 300px;
        height: 200px;
    }
}
@media screen and (max-width:767px){
    .special_offer_conatiner {
            margin-bottom: 60px;
            padding: 0 15px;
        }
        .special_offer_list{
            flex-direction: column;
            gap: 20px;
        }
        .special_offer_paragraph{
            font-family: DM Mono;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.06em;
            text-align: left;
 
        }
        .special_offer_text{
            font-family: DM Mono;
            font-size: 24px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: -0.06em;
            text-align: left;

        }
        .special_offer_image{
            max-width: 767px;
            max-height: auto;
            width: 100%;
        }
        .special_offer_text_conatiner{
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-bottom: 20px;
        }
}