.MyDeliveryInfo {
    display: flex;
    gap: 30px;
}

.wrapper {
    max-width: 672px;
    width: 100%;
    margin-top: 60px;
}

.title {
    font-family: DM Mono;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    letter-spacing: -0.06em;
    margin-bottom: 30px;
}

.form {
    width: 100%;
    padding: 20px;
    border: 1px solid #fcb654;
    border-radius: 24px;
}

.field:not(:last-child) {
    font-family: Poppins;
    max-width: 633px;
    width: 100%;
    margin-bottom: 20px;
}

.field label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #252525;
    display: block;
    margin-bottom: 8px;
}

.field input {
    width: 100%;
    padding: 23px 30px;
    border-radius: 24px;
    border:  1px solid #252525;
    outline: none;
}

.btns {
    margin: 20px 0 120px;
    text-align: right;
}

.btns__wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.cancel button {
    border: 1px solid #fcb654;
    background: #fff;
    color: #252525;
}

@media (max-width: 1260px) {
    .MyDeliveryInfo {
        gap: 0;
    }
}

@media(max-width: 835px) {
    .title {
        margin-bottom: 20px;
    }

    .field input {
        padding: 14px 30px;
    }
}

@media(max-width: 650px) {
    .navbar {
        display: none;
    }

    .field input {
        padding: 14px 10px;
    }

    .cancel button {
        overflow: hidden;
        width: 112px;
        white-space: nowrap;
        word-spacing: 24px;
        padding: 10px 24px;
    }

    .save button {
        overflow: hidden;
        width: 112px;
        white-space: nowrap;
        word-spacing: 36px;
        padding: 10px 36px;
    }
}

@media(max-width: 425px) {

}