.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 30px;
}

.logo {
    font-family: "DM Mono";
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.72px;
    color: #6883A0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo svg {
    width: 88px;
    height: 60px;
}

.yellow {
    color: #FCB654;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.wrapper svg {
    fill: #252525;
    cursor: pointer;
    transition: all .2s linear;
    width: 24px;
    height: 31px;
    border-bottom: 2px solid transparent;
}

.wrapper svg:hover {
    border-bottom: 2px solid #FCB654;
}

.wrapper a {
    display: flex;
    align-items: center;
    height: 31px;
}