

.modal_register_text{
    color: #FCB654;
    font-family: "DM Mono";
    font-size: 19.2px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.modal_checkbox_container{
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-direction: row;
    align-items: center;
}
.modal_checkbox{
    margin-right: 4px;
    background-color: transparent;
    border: 1px solid #FCB654;
    cursor: pointer;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    }
.modal_checkbox.checked {
    background-color: #FCB654;
    border-color: #FCB654;
    color: #FFF;
  }

.close_modal_button{
  border: none;
  background-color: transparent; 
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 27px;
}
.svg_div{
    position: absolute;
    top: -4px;
    left: -3.5px;
}
.agreement_text{
    color: #252525;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
max-width: 228px;
}
.hide_password {
    position: relative;
}

.hide_password input {
    padding-right: 40px;
}

.hide_password_button {
    position: absolute;
    right: 10px;
    top: 45px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
}
.agreement_list{
    margin: 20px 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.agreement{
    display: flex;
    
}
