.wrapperFilters {
    margin-top: 60px;
  }
  
  .wrapper {
    color: #caccce;
    font-family: 'DM Mono';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
  }
  
  .wrapperSpan {
    color: #252525;
  }
  
  .title {
    margin-top: 20px;
    height: 94.4px;
    width: 523px;
    color: #252525;
    font-family: 'DM Mono';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.16px;
  }
  
  .spanTitle {
    color: #fcb654;
  }
  
  .wrapperButtons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8px;
  }
  
  .button {
    color: #fff;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    padding: 10px 32px;
    border-radius: 24px;
    background: #fcb654;
    border: 1px solid #fcb654;
    cursor: pointer;
  }
  
  .dropdownList {
    display: flex;
    flex-direction: column;
    gap: 4px;
  
    color: #caccce;
    font-family: 'DM Mono';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
  }

.notFound img {
  margin: 30px auto;
  width: 40%;
}
  