@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 64, 84, 0.6);
  backdrop-filter: blur(8px);
  animation: fadein 0.5s;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 394px;
  height: 623px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1),
    0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  transition: all 0.5s ease;
  z-index: 1;
}

.title {
  color: #FCB654;
font-family: "DM Mono";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.label {
  display: flex;
  flex-direction: column;  
  color: #252525;
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.input {
  margin-top: 8px;
  display: flex;
  width: 250px;
  padding: 14px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
border: 1px solid #252525;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icons {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: #fcb654;
  }
}

.textarea {
  margin-top: 8px;
  resize: none;
  display: flex;
  width: 250px;
  height: 130px;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 24px;
border: 1px solid #252525;
}

.button {
  display: flex;
width: 250px;
padding: 10px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 24px;
background: #FCB654;
border: none;
  color: #FFF;
font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
