.addProductPageContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}
.container {
  margin-top: 60px;
  margin-left: 30px;
  max-width: 633px;
  width: 100%;
}
.addProductContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.text {
  font-family: DM Mono;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.06em;
  text-align: left;
  margin-bottom: 30px;
}
.addProductForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border: 1px solid #fcb654;
  border-radius: 24px;
}
.selectInputs {
  display: flex;
  gap: 20px;
}
.addProductContainer form {
  display: flex;
  flex-direction: column;
}
.addProductContainer button {
  margin-top: 30px;
  align-self: flex-end;
  justify-self: end;
}
