.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.closeBtn, 
.openBtn {
  background: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  transition: all 0.1s linear;
  width: 24px;
  height: 31px;
  position: relative;
  border-bottom: 1px solid transparent;
}

.openBtn:hover {
  border-bottom: 1px solid #fcb654;
}

.closeBtn::before,
.closeBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #252525;
  border-radius: 50px;
  transition: all .2s linear;
}

.closeBtn::after {
  transform: rotate(45deg);
}

.closeBtn::before {
  transform: rotate(-45deg);
}

.closeBtn:hover::before,
.closeBtn:hover::after {
  background: #fcb654;
}

.search {
  height: 48px;
  width: 240px;
  border-radius: 24px;
  border: 1px solid #fcb654;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: -207px;
  background: #fff;
  transition: all 0.2s linear;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
}

.search.activeSearch {
  z-index: 5;
  opacity: 1;
}

.input {
  border: none;
  outline: none;
  width: 84%;
  height: 100%;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding-left: 11px;
}

.searchBtn {
  border: none;
  outline: none;
  background: transparent;
  width: 38px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}

.searchBtn svg:hover {
  border-bottom: 2px solid transparent;
}

.searchBtn:hover svg {
  fill: #fcb654;
}

@media(max-width: 425px) {
  .wrapper {
    display: none;
  }
}