.product {
    max-width: 1075px;
    width: 100%;
    display: flex;
    gap: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 412px;
    min-width: 224px;
}

.info__item h3 {
    font-family: DM Mono;
    font-size: 32px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: -6%;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    gap: 10px;
    color: #fcb654;
    font-family: DM Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 6%;
    margin-bottom: 10px;
}

.rating span {
    display: flex;
    align-items: center;
}

.text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.price {
    font-family: DM Mono;
    font-size: 32px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: -6%;
    margin-bottom: 10px;
}

.btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 24px;
    background: #fcb654;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s, box-shadow 0.3s;
}

.btn:hover {
    opacity: 0.85; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.btn:disabled {
    opacity: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.added {
    margin-top: 20px;
    background: #fcb654;
    border-radius: 24px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .product {
        width: 100%;
    }

    .info__item h3 {
        font-family: DM Mono;
        font-size: 22px;
        font-weight: 400;
        line-height: 28.64px;
        letter-spacing: -0.06em;
        text-align: left;
    }

    .rating{
        font-family: DM Mono;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.23px;
        letter-spacing: 0.06em;
        text-align: left;

    }

    .text {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;

    }

    .price_and_amount{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .price{
        font-family: DM Mono;
        font-size: 22px;
        font-weight: 400;
        line-height: 28.64px;
        letter-spacing: -0.06em;
        text-align: left;
    }

    .btn {
        max-width: 180px;
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 767px) {
    .product {
        gap: 10px;
    }

    .info {
        justify-content: start;
        gap: 10px;
    }

    .info__item h3 {
        font-family: DM Mono;
        font-size: 24px;
        font-weight: 400;
        line-height: 31.25px;
        letter-spacing: -0.06em;
        text-align: left;
    }

    .rating {
        flex-wrap: wrap;
    }

    .text {
        font-size: 16px;
        line-height: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .price{
        font-family: DM Mono;
        font-size: 22px;
        font-weight: 400;
        line-height: 28.64px;
        letter-spacing: -0.06em;
        text-align: left;
    }

    .btn {
        max-width: 180px;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .product {
        display: block;
    }

    .info {
        max-width: 100%;
    }

    .info__item h3 {
        font-size: 20px;
        line-height: 26px;
    }

    .text {
        display: block;
        -webkit-line-clamp: initial;
        -webkit-box-orient: initial;
        overflow: initial;
        text-overflow: initial;
    }
}