.wrapper {
    position: relative;
}
  
.filterWrapper {
    border-radius: 24px;
    border: 1px solid #FCB654;
    padding: 30px;
    width: 300px;
    background: #fff;
    position: absolute;
    top: 57px;
    left: 0;
    z-index: 10;
    text-align: center;
}

.filterWrapper h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align-last: left;
    margin: 10px 0 8px;
}

.filterWrapper button {
    margin-top: 30px;
}

.wrapperLabels {
    display: flex;
    gap: 64px;
    color: #252525;
    font-family: "DM Mono";
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}

.wrapperLabels div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapperLabels label {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.wrapperLabels label:hover .check {
    background: #FCB654;
}

.checkBox {
    appearance: none;
}

.check {
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid #FCB654;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 10px transparent;
    transition: all .2s linear;
}

.check::before {
    content: '';
    height: 2px;
    width: 80%;
    background: transparent;
    position: absolute;
    top: 43%;
    left: 2px;
    transform: rotate(-46deg);
    transition: all .1s linear
}

.check::after {
    content: '';
    height: 2px;
    width: 35%;
    background: transparent;
    position: absolute;
    top: 60%;
    left: 1px;
    transform: rotate(-136deg);
    transition: all .1s linear
}

.check.active {
    background: #FCB654;
}


.check.active::before,
.check.active::after {
    background: #fff;
}