.wish {
  margin-bottom: 120px;
}

.nav {
  display: flex;
  gap: 120px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: -6%;
  color: #252525;
  margin-top: 60px;
}

.nav span {
  color: #fcb654;
  padding-bottom: 19px;
  border-bottom: 3px solid #fcb654;
}

.nav a {
  transition: all 0.1s linear;
}

.nav a:hover {
  color: #fcb654;
}

.line {
  height: 3px;
  border-radius: 24px;
  background: #fcb654;
  opacity: 0.3;
  margin-top: 20px;
}
