.question {
  padding: 20px;
  border: 1px solid #fcb654;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.question__wrapper {
  display: flex;
}

.question__left {
  width: 20%;
  min-width: 200px;
  padding-right: 20px;
}

.name {
  color: #252525;
  font-family: 'DM Mono';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.44px;
}

.date {
  color: #252525;
  font-family: 'DM Mono';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  opacity: 0.8;
  margin-top: 20px;
}

.comment {
  color: #252525;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  opacity: 0.8;
}

.line {
  width: 100%;
  margin: 20px 0;
  height: 0px;
  border: 0.5px solid #fcb654;
}
.answerButton {
  width: 137px;
  height: 47px;
  padding: 10px 32px;
  border-radius: 24px;
  background-color: #fcb654;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: white;
  border: none;
}
.question .answerButton {
  align-self: flex-end;
}
.answerWrapper {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  max-width: 626px;
  width: 100%;
  padding: 20px;
  gap: 20px;
  border-radius: 24px;
  border: 1px solid #fcb654;
}
.answerInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.editButton {
  width: 131px;
  height: 47px;
  padding: 10px 32px;
  border-radius: 24px;
  background-color: #fcb654;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: white;
  border: none;
}
.answerWrapper .editButton {
  align-self: flex-end;
}
.answerName {
  font-family: ' DM Mono';
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: -0.06em;
  text-align: left;
}
.answerDate {
  font-family: 'DM Mono';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  letter-spacing: 0.06em;
  text-align: left;
  opacity: 0.8;
}
.answerMessage {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .question__left {
    min-width: 150px;
  }

  .name {
    font-size: 18px;
    line-height: 20px;
  }

  .date {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
  }

  .comment {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 500px) {
  .question__wrapper {
    display: block;
  }

  .question__left {
    padding-right: 0;
  }

  .date {
    margin-bottom: 10px;
  }

  .comment {
    margin-top: 10px;
  }

  .rectangle {
    margin-top: 10px;
  }
}
