.headed_text {
    font-family: DM Mono;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.06em;
    text-align: left;
    margin-bottom: 30px;
}

.container {
    padding-top: 60px;
    margin-left: 441px;

}
