.headed_text {
  font-family: DM Mono;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.06em;
  text-align: left;
  margin-bottom: 30px;
}

.container {
  padding-top: 60px;
  margin-left: 351px;
  margin-bottom: 120px;
}
@media screen and (max-width: 1157px) and (min-width: 768px) {
  .headed_text {
    padding-top: 40px;
  }
}
@media screen and (max-width: 1157px) {
  .headed_text {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    margin-left: 0;
    padding-top: 20px;
  }
}
