.wrapper {
  display: flex;
  gap: 30px;
}

.title {
  font-family: DM Mono;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  letter-spacing: -0.06em;
  margin-bottom: 30px;
}

.container {
  padding-top: 60px;
  max-width: 855px;
  width: 100%;
}
.filterSettings {
  position: relative;
}
.switcher {
  position: absolute;
  right: 20px;
}
@media (max-width: 835px) {
  .title {
    margin-bottom: 20px;
  }
}
